<div class="container">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Electrical Designer</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <mat-drawer-container class="content-container" autosize>

    <mat-drawer #drawer [opened]="false" class="sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      Test
    </mat-drawer>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
